@model myZone.Models.product
@{
    Layout = "~/Views/Shared/_HeaderFooter.cshtml";
}
 <nav class="nav navbar-default col-md-12 logo " role="navigation" style="background-color:#252a2f">
        <div class="navbar-header ">
            <h3 class="active" style="padding-left:20px ;color:goldenrod"> Admin Panel </h3>
        </div>
        <div>
      <ul class="nav navbar-nav pull-right">
        <li>@Html.ActionLink("Add Item", "addItem","AdminHome")</li>
        <li>@Html.ActionLink("View All Items", "ViewAll","AdminHome")</li>                
      

      </ul>
       </div>
    </nav>
<div>
    <br />
                  
    <div class="panel panel-smart" style="margin-left:60px;margin-right:60px">
							<div class="panel-heading">
								<h3 class="panel-title text-center" style="font-size:40px">Add Category</h3>
							</div>
							<div class="panel-body text-center center-block">

							<!-- Registration Form Starts -->
							
                                <div class="panel-body text-center center-block">
							<!-- Registration Form Starts -->
								<form class="form-horizontal" style="margin-left:100px" action="/Category/savecategory" method="post" enctype="multipart/form-data" >
								<!-- Personal Information Starts -->
									
                                     <div class="form-group">
										<label for="inputLname" class="col-sm-3 control-label">Category name :</label>
										<div class="col-sm-3">
											<input type="text" class="form-control" name="name" >
										</div>
									</div>
                                   
                                 
                                    
									     
									
								
                                  

                                <!--    <label for="file">Upload Image</label>-->
                                   <!--<input type="file" name="file" id="file"/>-->

                                    <div class="col-md-6" style="margin-left:150px">
									<input type="submit" class="btn btn-warning" value="add" />
                                </div>
                                     
                                    </form>


                               
                            </div>
                               

         
   </div>
</div>

</div>
                            